In [1]:
"""The goal is to predict prices per square area"""

'The goal is to predict prices per square area'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import linear_model

In [6]:
# Load the prices in a dataframe
df = pd.read_csv("/home/akeemlag/Downloads/canada_per_capita_income.csv")
df.sample(4)

    year  per capita income (US$)
15  1985              11018.95585
19  1989              16426.72548
39  2009              32755.17682
45  2015              35175.18898